version: '3.5'

services:
  design:
    volumes:
       - ./license.json:/home/dataiku/license.json
    environment:
      - DSS_INSTALLER_ARGS=${DESIGN_DSS_INSTALLER_ARGS} -l  /home/dataiku/license.json
      - GRAPHITE_HOST=dkumonitor
      - GRAPHITE_PORT=27601

  automation:
    volumes:
       - ./license.json:/home/dataiku/license.json
    environment:
      - DSS_INSTALLER_ARGS=${AUTOMATION_DSS_INSTALLER_ARGS} -l  /home/dataiku/license.json
      - GRAPHITE_HOST=dkumonitor
      - GRAPHITE_PORT=27601

  apideployer:
    volumes:
       - ./license.json:/home/dataiku/license.json
    environment:
      - DSS_INSTALLER_ARGS=${APIDEPLOYER_DSS_INSTALLER_ARGS} -l  /home/dataiku/license.json
      - GRAPHITE_HOST=dkumonitor
      - GRAPHITE_PORT=27601

  api:
    volumes:
       - ./license.json:/home/dataiku/license.json
    environment:
      - DSS_INSTALLER_ARGS=${API_DSS_INSTALLER_ARGS} -l  /home/dataiku/license.json
