version: '3.5'

services:
  design:
    volumes:
       - ./license.json:/home/dataiku/license.json

  automation:
    volumes:
       - ./license.json:/home/dataiku/license.json

  api:
    volumes:
       - ./license.json:/home/dataiku/license.json

  apideployer:
    volumes:
       - ./license.json:/home/dataiku/license.json
